

div{

    position: fixed;
    width: 10vmax;
    height: 10vmax;
    /*background-color:rgb(253, 248, 237);
    border-radius: 10% 10%;*/

}

@keyframes mover {
    from{left: 0vw; transform: scaleX(-1);}
    to{left:100vw; transform: scaleX(1);}
}

div{

    animation: mover 3s linear 1s infinite alternate;

}

img{
    width: 150%;
    height: 150%;
}